<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :select_language %><br>
    <%= f.select :language,[["-",0],["ruby",1],["PHP",2],["C##",3],["その他",4]]%>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category,[["-",0],["エラー",1],["文法説明",2],["ベストな書き方",3]] %>
  </div>
  <div class="field">
    <%= f.label :content %> <br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
