<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dive into Code by SmS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "お問い合わせ",contact_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <% else %>
        <li><%= link_to"新規登録",new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
<!--  認証削除        -->
        

        <% end %>



          <% if user_signed_in? %>
          <ul class="dropdown-menu">
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to"Blog",blogs_path %></li>
            <li><%= link_to "ユーザ一覧", users_index_path %></li>
            <li><%= link_to "マイページ/登録解除", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>


<!--       "ユーザやめる",edit_user_registration_path,method: :delete %></li> -->
     <% else %>
    
<% end %>
          
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="boxA">  

　<div class="box1"> 
   <div class="site"> 
     
   </div> 
  </div>

  <div class="jumbotron">
    <h1><strong>a</strong>chieve</h1>
  <p>「経験ゼロからWebエンジニアになる！」</p>
  <p>achieveは、目標達成を支援するWebアプリケーションです。</p>
    <% if user_signed_in? %>
  
    <% else %>
    
    <div class="btn btn-primary btn-large">    <a href="#" class=""><i class="icon-white icon-hand-right"></i>
      <p><%= link_to"今すぐ始める！",new_user_registration_path %></p></div>
    <% end %>
</div>

  <div class="box4"> 
      <div class="box4-1"> 
          <div class="merit"> 
            
            <a href="#"> 
              <i class="fa fa-heart"></i>
            <h1>経験ゼロの初心者向け</h1> 
            <p>全10回講座の課題解決型プログラム。経験ゼロからWebエンジニアになっていただきます。</p> 
              </a>
            </div> 
      </div> 
      <div class="box4-2"> 
          <div class="merit"> 
            <a href="#"> 
             <i class="fa fa-television"></i>
            <h1>オンラインサポート付き</h1> 
            <p>専用のfacebookグループ内やNitrousのコラボレーション機能を経由して随時オンラインサポート</p>
              </a>
            </div>
      </div> 
      <div class="box4-3"> 
      <div class="merit"> 
        
        <a href="#"> 
          <i class="fa fa-connectdevelop"></i>
          <h1>チームで実践「受託開発」</h1> 
          <p>ひとりではなく開発チームを結成し、実ビジネスの受託開発を経験して卒業していただきます。</p> 
          </a>
          </div>
      </div> 
  </div>
  <div class="box5"> 
    <div class="copyright"> 
      <p>Copyright &copy; 2015 Dive into Code All Rights Reserved.</p> 
    </div>
  </div>
