<h2><%= @user.name %>さん</h2>
<div class="middlePage">
<div class="page-header">
  <h1 class="logo"><small></small></h1>
</div>
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">


    <%= @title%>
<%= devise_error_messages! %>
  <div class="row">
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail"><%= image_for(@user) %></div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<!--  -->


<div class="field">
    <%= f.label :ユーザ名 %><br />
  <%= f.text_field :name, autofocus: true %>
  </div>
<!--     画像削除いれたい -->


      <%= link_to'認証！',provider_path(@user.id),method: :post%>
    <div class="field">
      <%= f.label :プロフィール画像 %><br />
      <%= f.file_field :image_url, autofocus: true %>

      <%= @user.likes.count %>件のユーザのブログにいいぜ！をしています
      <%= @user.like_notes%>
<!-- providerがfaebookもしくはtwitterのときはメールアドレスフォームを非表示 -->
  </div>
    <% if @user.provider == "facebook" || @user.provider == "twitter"%>
    <% else %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
    <% end %>
<!--  facebook認証-->
      <%= link_to"facebook",name: 'provider'%>
       <div class="actions">
    <%= f.submit "更新" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<!--  パスワード再設定のコード削除 -->
<!--  現在のパスワードはいれないので削除-->
<!-- <div class="field">
    #f.label :現在のパスワード %> <i>(確認で現在のパスワードを入力してください)</i><br />
     #f.password_field :current_password, autocomplete: "off" %>
  </div> -->


<% end %>

<h3>登録解除</h3>

<p>ご利用ありがとうございました。<%= button_to "登録解除", registration_path(resource_name), data: { confirm: "一度削除すると復元できませんがよろしいでしょうか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
