<h2><%= @user.name %>さん</h2>
<div class="middlePage">
<div class="page-header">
  <h1 class="logo">マイページ<small></small></h1>
</div>
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

  <div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
    <%= f.label :ユーザ名 %><br />
  <%= f.text_field :name, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(新しいパスワードを入力してください)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワードもう一度 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <i>(確認で現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>登録解除</h3>

<p>ご利用ありがとうございました。<%= button_to "登録解除", registration_path(resource_name), data: { confirm: "一度削除すると復元できませんがよろしいでしょうか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
