<h1>依頼編集</h1>
<%= form_for(@submit_request, url: submit_path(@submit_request)) do |f| %>
  <p><%= f.collection_select :task_id, @task, :id, :title %></p>
  <p><%= f.collection_select :charge_id, @users, :id, :name %></p>
  <p><%= f.text_area :message, placeholer: "依頼メッセージ", seze: "50*100" %></p>
  <p><%= f.hidden_field :user_id %></p>
  <p><%= f.hidden_field :status %></p>
  <p><%= f.submit "編集完了", class: "btn btn-large btn-primary" %></p>
<% end %>
<%= link_to 'show', submit_path(@submit_request) %>
<%= link_to '戻る', user_submit_index_path(@submit_request) %>
