<div class ="all_user">
 <h1>冒険者たち</h1>
<% @users.each do |user| %>
<div class="row">
  <div class="">
    <div class="thumbnail"><%= image_for(user) %></div>
  </div>
</div>
  <table class="company">
	<tbody>
		<tr>
			<th class="arrow_box">名前</div></th>
  <% if user.name %>
  <td><%= user.name %></td>
  <% else %>
  <td><p>未設定</p></td>
  <% end %>
		</tr>
		<tr>
			<th class="arrow_box">強さ</th>
			<td>
        <%= user.id %>
			</td>
		</tr>
		<tr>
			<th>アカウント情報</th>
			<td>
        <% if user.provider == 'facebook' || user.provider == 'twitter' %>
        <%= user.provider %>
<!--     せいやのtwitterプロフィール画像の数字     -->
<!--  http://pbs.twimg.com/profile_images/632921511133769730/-2WFpZqJ_normal.jpg-->
        <% else %>
        <%= user.email %>
        <% end %>
        <%= render partial: 'user', locals: { user: user } %>
			</td>
		</tr>
	</tbody>
</table>

<% end %>
