<div class ="all_user">
 <h1>冒険者</h1>
  <%= @title %>
  <%= @note %>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail"><%= image_for(@user) %></div>
  </div>
</div>
  <table class="company">
	<tbody>
		<tr>
			<th class="arrow_box">名前</div></th>
  <% if @user.name %>
  <td><%= @user.name %></td>
  <% else %>
  
  <td><p>未設定</p></td>
  <% end %>
		</tr>
		<tr>
			<th class="arrow_box">強さ</th>
			<td>
        <%= @user.id %>
			</td>
		</tr>
		<tr>
			<th>email</th>
			<td>
        <%= @user.email %>
			</td>
		</tr>
		
	</tbody>
</table>