<div class="contact">
  <div class="header-contact">
    <h1>お問い合わせ</h1>
  </div>
  <p>ご質問を受け付けています。お気軽にお問い合わせください。</p>
  <div class="contact-main">
    <div class="contact-left">
      <%= form_for @contact,url:contact_confirm_path do |f| %>
  
      <table>
        <tr>
          <th>お名前<%= f.label :必須,:class => "required-red" %></th>
          
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>メールアドレス<%= f.label :必須,:class => "required-red" %></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>住所<%= f.label :任意,:class => "any-blue" %></th>
          <td><%= f.text_field :addres %></td>
        </tr>
        <tr>
          <th>電話番号<%= f.label :任意,:class => "any-blue" %></th>
          <td><%= f.text_field :number %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容<%= f.label :必須,:class => "required-red" %></th>
          <td><%= f.text_area :content %></td>
        </tr>
      </table>
       <%= f.submit "確認",:class => "confirm-btn" %>
    <% end %>
    </div>
    
    
    
    
    
  </div>
</div>
